:root {
    --primary-color: #FAFAFB;
    --second-color: #07080A;
    --third-color: #717277;
    --quaternary-color: #AEBAC9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary-color);
    color: var(--second-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    width: 80vw;

    margin: 0 auto;
    padding: 0 15px;


    header {
        margin-bottom: 2rem;

        nav>ul {
            background: var(--primary-color);

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 1rem 0;
            margin-bottom: 1rem;

            li {
                margin: 0 1rem;

                font-size: clamp(1rem, 1.2vw, 1.8rem);
                font-weight: bold;
                font-family: 'Roboto', sans-serif;

                color: var(--second-color);
                text-decoration: none;
                transition: opacity 0.3s;

                cursor: pointer;
                list-style: none;

                &:hover {
                    opacity: 70%;
                }
            }

            li>a {
                text-decoration: none;
                color: var(--second-color);
            }
        }

        section {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 40%;
                height: 100%;
                filter: grayscale(100%);

                transition: filter 0.3s;

                // &:hover {
                //     filter: grayscale(0%);
                // }
            }

            article {
                width: 40%;
            }

            article>h1 {
                font-size: clamp(1.5rem, 2.5vw, 3rem);
                font-weight: 700;
                font-family: 'Roboto', sans-serif;

                color: var(--second-color);
                text-decoration: none;
                transition: opacity 0.3s;

                letter-spacing: .05rem;
            }

            article>h1>strong {
                background: var(--second-color);
                background-size: 0;
                color: var(--primary-color);
                padding: 0.2rem 0.5rem;

            }

            article>p {
                margin: 1rem auto 2rem;
                font-size: clamp(.8rem, .950vw, 1.5rem);
                font-weight: bold;
                font-family: 'Poppins', sans-serif;

                color: var(--third-color);
                text-decoration: none;
                transition: opacity 0.3s;

                letter-spacing: .02rem;
            }
        }
    }

    main>section {
        margin-bottom: 3rem;

        h2 {
            text-align: center;
            font-size: clamp(1.5rem, 2.5vw, 3rem);
            font-weight: 700;
            font-family: 'Roboto', sans-serif;

            color: var(--second-color);
            text-decoration: none;
            transition: opacity 0.3s;

            letter-spacing: .05rem;
            margin-bottom: 1rem;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-size: clamp(1rem, 1vw, 1.8rem);
            font-weight: 500;
            font-family: 'Poppins', sans-serif;

            color: var(--third-color);
            text-decoration: none;
            transition: opacity 0.3s;

            letter-spacing: .03rem;

            text-align: center;
        }

        .filter-projects {
            align-self: baseline;
            margin: 2rem 1rem;

            button {
                background: var(--quaternary-color);
                color: var(--primary-color);

                font-size: clamp(.5rem, .8vw, .8rem);
                font-weight: bold;
                font-family: 'Poppins', sans-serif;

                padding: 0.5rem;
                border-radius: 1rem;
                border: none;
                transition: opacity 0.3s;

                &:first-of-type {
                    background: var(--second-color);
                }

                &:hover {
                    opacity: 70%;
                }
            }
        }

        .project-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 2rem;
        }

        .project-container>.project {
            width: clamp(19rem, 21vw, 21rem);
            padding-bottom: 1rem;
            box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.3);
            border-radius: 1rem;

            .img-container {
                height: 11rem;
                background: #eeeeee;
                padding: .7rem 1rem 0;
                border-radius: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1rem 1rem 0 0;
                }

            }

            h3 {
                font-size: clamp(1rem, 1vw, 1.5rem);
                font-weight: 500;
                font-family: 'Roboto', sans-serif;

                color: var(--secund-color);
                text-decoration: none;
                transition: opacity 0.3s;

                margin: .5rem;
                letter-spacing: .03rem;
            }

            .techs {
                margin-left: .5rem;
                width: 100%;
            }

            .techs>strong {
                font-size: clamp(.7rem, .8vw, 1.2rem);
                font-weight: 500;
                font-family: 'Roboto', sans-serif;

                padding: .3rem;
                margin-right: 1rem;
                border-radius: 1rem;
                ;


                background: #eeeeee;
                color: var(--secund-color);
                text-decoration: none;
                transition: opacity 0.3s;

                letter-spacing: .03rem;
            }

            .description {
                display: -webkit-box !important;
                font-size: clamp(.8rem, .8vw, 1.5rem);
                font-weight: 500;
                font-family: 'Poppins', sans-serif;

                color: var(--third-color);
                text-decoration: none;

                margin: 1rem;
                letter-spacing: .02rem;
                text-align: left;

                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
            }

            .button-container {
                display: flex;
                justify-content: space-evenly;

                button {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    font-size: clamp(.7rem, .8vw, 1.5rem);
                }
            }
        }
    }

    button {
        font-size: clamp(1rem, 1vw, 1.8rem);
        font-weight: 400;
        font-family: 'Roboto', sans-serif;

        padding: .5rem 1rem;

        color: var(--second-color);
        text-decoration: none;

        cursor: pointer;
        list-style: none;

        border-radius: .5rem;

        transition: all 0.3s ease-in-out;
        letter-spacing: .02rem;

        &:first-of-type {
            background: var(--second-color);
            color: var(--primary-color);
            margin-right: .5rem;

            border: 1px solid var(--second-color);
        }

        &+button {
            margin-left: 1rem;
            color: var(--second-color);
            background: var(--primary-color);
            border: 1px solid var(--second-color);
        }
    }
}

@media (hover: hover) {
    button {
        &:first-of-type {
            &:hover {
                background: var(--primary-color);
                color: var(--second-color);
                border: 1px solid var(--second-color);

            }
        }

        &+button:hover {
            background: var(--second-color);
            color: var(--primary-color);
            border: 1px solid var(--primary-color);
        }
    }

    section {
        img:hover {
            filter: grayscale(0%);
        }
    }
}

@media (max-width: 900px) {
    .container {
        width: 95vw;

        .project-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

}

@media (max-width: 850px) {
    .container>header>section {
        flex-direction: column;

        img {
            width: 60%;
        }

        article {
            width: 100%;
            text-align: center;

            margin-top: 2rem;
            padding: 0 .5rem;
        }
    }

}